{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags nav_tags %}

{% get_menu "nav" as nav %}

<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/tobiasfyi.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}

  <link rel="icon" href="{% static '/images/favicon.png' %}" />
</head>

<body class="{% block body_class %}{% endblock body_class %}">
  {% wagtailuserbar %}

  {% block header %}
  {% endblock header %}

  <nav id="nav" class="nav">
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      {% for item in nav.nav_items.all %}
        <li>
          <a href="{{ item.link }}" {% if item.open_in_new_tab %}target="_blank"{% endif %}>
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Child Page Content -->
  {% block content %}
  {% endblock content %}

  <!-- Footer -->
  <footer id="footer">
    <p >
      Site created by <i>Tobias Reaper</i>.
    </p>
  </footer>

  </div>

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/tobiasfyi.js' %}"></script>

  {% block extra_js %}
    {# Override this in templates to add extra javascript #}
  {% endblock %}

</body>

</html>