[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"

[packages]
wagtail = "*"
django-extensions = "*"
psycopg2-binary = "*"
gunicorn = "*"
Django = "*"
ipython = "*"
awscli = "*"
boto3 = "*"
django-health-check = "*"
django-storages = "*"
whitenoise = "*"
dj-database-url = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
