[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"

[packages]
wagtail = ">=2.8,<2.9"
django-extensions = "*"
psycopg2-binary = "*"
gunicorn = "*"
Django = ">=3.0,<3.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
