{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div id="wrapper">

  <header id="header" class="alt">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 800 800">
      <title>19-07-05-100days-logo</title>
      <g id="ac9c0328-58b8-475b-bbe4-6e91f854db0f" data-name="Layer 4">
        <path
          d="M609,353.73V279.58l-183.77,0,0-205.6H389.58q-18.72,106.17-61.17,165.16T201,321.75v32H319.91V544.2l.1,68.69V730c9.65-61.91,58.94-129,105.24-141.16l0-16.78,0-218.31ZM408.88,337.36V577.18c-21.94,9.28-44,28-63.12,53.78-3.29,4.43-6.43,9-9.41,13.69V612.89l-.1-68.71V337.36H217.35V334c54.17-17.21,96-45.84,124.31-85.23,27.76-38.57,48.42-91.79,61.49-158.36h5.75V296H592.65v41.37Z"
          fill="#fff" />
        <circle cx="400" cy="400" r="360" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="12" />
        <circle cx="400" cy="400" r="384" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" />
      </g>
    </svg>
    <h1>tobias.fyi</h1>
    <p><small>100 Micro-adventures by <i>Tobias Reaper</i></small></p>
  </header>

  <nav id="nav" class="nav detail">
    <ul>
      <li><a class="active" href="{% url 'story_list' %}" class="button">Back to List</a></li>
    </ul>
  </nav>

  <div id="main">

    <section id="content" class="main">
      <div class="content">
        <h2>Hi!
          <br>My name is <i>Tobias.</i></h2>
        <p>---- ∫ ----</p>
        <p>For those who don't know exactly what the #100DaysofX challenge is, it simply means that I'm dedicating
          myself to doing an activity or practicing a skill for at least 1 hour every day for 100 days in a
          row.</p>
        <p>It all started when in March of 2019. I'd started learning how to develop software a few months
          before that and wanted to make learning and writing code a daily habit. I ran across the #100DaysofCode
          challenge and decided it would be a great way to make that happen. I finished th coding challenge in the
          middle of June, and started my writing one the next day. All 100 of the daily coding journals from
          #100DaysofCode can be found on my <a href="https://github.com/tobias-fyi/challenges/">GitHub</a> (along with
          the stories and the code for this site).</p>
        <p>It was such so effective for coding that I decided to do the same thing with other skills that I've wanted to
          develop.</p>
        <p>---- ∫ ----</p>
        <p>I've been a sci-fi enthusiast and on-and-off writer since I was a little tyke. I've always enjoyed writing,
          but had
          never dedicated myself to developing the skill in any meaningful way...until now.</p>
        <p>One reason I never spent any meaninful amount of time writing fiction is because I only ever did it when I
          had tons of inspiration. The whole point of the challenge is to make the promise to myself that I will write
          for at least an hour
          every single day, whether I feel like it, am inspired, have time, or not. No excuses...</p>
        <p>Some of the stories are good; some are ok; some may be terrible or undeveloped or have any number of
          qualities that don't make me happy.</p>
        <p>And that's ok—I'm going to write anyways.</p>
        <p>
          <b><i>It's all a practice.</i></b>
        </p>
        <p>---- ∫ ----</p>
        <p>I hope you enjoy at least some of my stories. If you do, I'd love to hear about it! (Or if you have some
          <i>constructive</i> criticism).
          <br>Shoot me an email at
          <a href="mailto:hi@tobias.fyi">hi@tobias.fyi</a> or tweet <a
            href="https://twitter.com/tobiasfyi">@tobiasfyi</a>.</p>
        <p>
          <b>Never stop exploring.</b>
          <br><i>-Tobias</i>
        </p>
      </div>
    </section>

  </div>
  {% endblock content %}