{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/tobiasfyi.css' %}">
  <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  <noscript>
    <link rel="stylesheet" href="{% static '/css/noscript.css' %}" />
  </noscript>

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}

  <link rel="icon" href="{% static '/images/favicon.png' %}" />
</head>

<body class="is-preload {% block body_class %}{% endblock body_class %}">
  {% wagtailuserbar %}

  <!-- Child Page Content -->
  {% block content %}
  {% endblock content %}

  <!-- Footer -->
  <footer id="footer">
    <section>
      <h2>tobias.fyi</h2>
      <p>Content created by <i>Tobias Reaper</i>
      <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
      </ul>
    </section>
    <section>
      <h2>Get In Touch!</h2>
      <dl class="alt">
        <dt>Email</dt>
        <dd><a href="mailto:hi@tobias.fyi">hi@tobias.fyi</a></dd>
      </dl>
    </section>
    <p class="copyright">
      <br>Designed and developed by Tobias Reaper.
      <small>
        <br>&copy; Content on this site is licensed under a 
        <br><a href="https://creativecommons.org/licenses/by/4.0/">
        Creative Commons Attribution 4.0 International License</a>.
      </small>
      <br>Design inspired by <a href="https://html5up.net">HTML5UP</a>.
    </p>
  </footer>

  </div>

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/tobiasfyi.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/jquery.scrollex.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/jquery.scrolly.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/browser.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/breakpoints.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/util.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/main.js' %}"></script>

  {% block extra_js %}
    {# Override this in templates to add extra javascript #}
  {% endblock %}

</body>

</html>