{% extends 'base.html' %}
{% load static %}

{% block title %}{{ story.title }}{% endblock title %}

{% block content %}
<div id="wrapper">

	<header id="header" class="alt">
		<h1>{{ story.pk|stringformat:"03d" }} ~ {{ story.title }}</h1>
		<p>{{ story.date }}</p>
	</header>

	<nav id="nav" class="nav detail">
		<ul>
			<li></li>

			{% if story.pk > 2 %}
			<li><a class="linked" href="{% url 'story_detail' pk=1 %}">«</a></li>
			{% else %}
			<li><a class="disabled">«</a></li>
			{% endif %}

			{% if story.pk > 1 %}
			<li><a class="linked" href="{% url 'story_detail' story.pk|add:"-1" %}">‹</a></li>
			{% else %}
			<li><a class="disabled">‹</a></li>
			{% endif %}

			<li><a id="to-list" class="button linked active" href="{% url 'story_list' %}">Back to List</a></li>

			{% if story.pk < count %}
			<li><a class="linked" href="{% url 'story_detail' story.pk|add:"1" %}">›</a></li>
			{% else %}
			<li><a class="disabled">›</a></li>
			{% endif %}

			{% if story.pk < count|add:"-1" %}
			<li><a class="linked" href="{% url 'story_detail' pk=count %}">»</a></li>
			{% else %}
			<li><a class="disabled">»</a></li>
			{% endif %}
			<li></li>
		</ul>
	</nav>

	<div id="main">

		<section id="content" class="main">
			<span class="image main"><img src="{{ story.image.url }}" alt="{{ story.caption }}" /></span>
			<div class="content">
				<header class="major">
					<h4>Artwork: <a href="{{ story.art_link }}" target="_blank">{{ story.artwork }}</a></h4>
					<h4>Soundtrack: <a href="{{ story.music_link }}" target="_blank">{{ story.music }}</a></h4>
				</header>
				<hr>
			</div>
			<div>
				<p>{{ story.body|safe }}</p>
			</div>
		</section>

	</div>
	{% endblock content %}