{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<header class="article-header">
	<h1>{{ page.title }}</h1>
	<time class="published" datetime="{{ page.date|date:'Y-m-d' }}">
		{{ page.date }}
	</time>
</header>

<article class="article-content">
	<div>
		{% for block in page.body %}
			{% if block.block_type == "paragraph" %}
				<p>{{ block.value|richtext }}</p>
			{% else %}
				{% include_block block %}
			{% endif %}
		{% endfor %}
	</div>
</article>

<div class="article-footer">
	<a class="btn btn-maroon" href="{{ page.get_parent.url }}">
		Back to List
	</a>
</div>
{% endblock content %}