{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }} - tobias.fyi{% endblock title %}

{% block pagetitle %}
<div class="page-title">
	<h1>{{ page.title }}</h1>
</div>
{% endblock pagetitle %}

{% block sidebar %}
<section class="sidebar">
	<div class="sidebar-content">
		<div class="publish-date">
			<time class="published" datetime="{{ page.date|date:'Y-m-d' }}">
				{{ page.date }}
			</time>
		</div>
		{% with categories=page.categories.all %}
			{% if categories %}
				<div class="article-tags topics">
					<h4>Topics</h4>
					<ul>
						{% for category in categories %}
							{% if forloop.last %}
							<li>{{ category.name }}</li>
							{% else %}
							{% comment %} <li>{{ category.name }} |</li> {% endcomment %}
							<li>{{ category.name }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endwith %}
		{% with tags=page.tags.all %}
			{% if tags %}
				<div class="article-tags tech">
					<h4>Technologies</h4>
					<ul>
						{% for tag in tags %}
							{% if forloop.last %}
							<li>{{ tag.name }}</li>
							{% else %}
							{% comment %} <li>{{ tag.name }} |</li> {% endcomment %}
							<li>{{ tag.name }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endwith %}
	</div>
</section>
{% endblock sidebar %}
	
{% block content %}
<article class="page-content">
	<div class="article-text">
		{% for block in page.body %}
			{% if block.block_type == "paragraph" %}
				<p>{{ block.value|richtext }}</p>
			{% else %}
				{% include_block block %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="article-footer">
		<a class="btn btn-maroon" href="{{ page.get_parent.url }}">
			Back to List
		</a>
	</div>
</article>
{% endblock content %}