{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock body_class %}

{% block title %}{{ page.title }} - tobias.fyi{% endblock title %}

{% block pagetitle %}
<div class="page-title">
	<h1>{{ page.title }}</h1>
</div>
{% endblock pagetitle %}

{% block content %}
<div class="page-content index">
	{% for post in blog %}
		{% with post=post.specific %}
			<div id="{{ post.pk }}" class="post">
				<h2 class="post-title"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
				<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">
					{{ post.date }}
				</time>
				<div class="categories">
						{% with categories=post.categories.all %}
							{% if categories %}
								<ul>
									{% for category in categories %}
										{% if forloop.last %}
										<li>{{ category.name }}</li>
										{% else %}
										<li>{{ category.name }} |</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						{% endwith %}
				</div>
				<div class="tags">
						{% with tags=post.tags.all %}
							{% if tags %}
								<ul>
									{% for tag in tags %}
										{% if forloop.last %}
										<li>{{ tag.name }}</li>
										{% else %}
										<li>{{ tag.name }} |</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						{% endwith %}
				</div>
				<p>{{ post.intro|richtext }}</p>
				{% comment %} <div class="read-on">
					<a class="btn btn-maroon" href="{% pageurl post %}">Read On</a>
				</div> {% endcomment %}
			</div>
		{% endwith %}
	{% endfor %}
</div>
{% endblock content %}