{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock body_class %}

{% block title %}Blog{% endblock title %}

{% block content %}
<header class="my-1">
	<h1>{{ page.title }}</h1>
	<p>{{ page.intro|richtext }}</p>
</header>

<div>
	{% for post in blog %}
		{% with post=post.specific %}
			<div id="{{ post.pk }}" class="my-1">
				<h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
				<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">
					{{ post.date }}
				</time>
				<p>{{ post.intro|richtext }}</p>
				<a class="btn btn-maroon" href="{% pageurl post %}">Read On</a>
			</div>
		{% endwith %}
	{% endfor %}
</div>
{% endblock content %}