// Variables

// Colors
$maroon:          #7D3545;
$light:           #F6F6F6;
$dark:            #131313;
$maroon-dark:     #401B33;

// Layout
$max-width:         1100px;
$column-width:       960px;

// Breakpoints
$xlarge: (1281px, 1680px);
$large: (961px, 1280px);
$medium: (737px, 960px);
$small: (481px, 736px);
$xsmall: (361px, 480px);
$xxsmall: (null, 360px);
