// Variables

// Colors
$maroon:          #7D3545;
$light:           #F6F6F6;
$dark:            #131313;
$maroon-dark:     #401B33;

// Layout
$column-width:    640px;
$text-width:      560px;

// Breakpoints
$large:           1680px;
$medium:          960px;
$small:           736px;
$xsmall:          300px;
