{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block opengraph %}
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://tobias.fyi{% pageurl page %}" />
	{% image page.header_image original as img %}
	<meta property="og:image" content="https://tobias.fyi{{ img.url }}" />
	<meta property="og:description" content="{{ page.intro }}" />
{% endblock opengraph %}

{% block pagetitle %}
<div class="page-title">
  <h1>Tobias E. A. <i>Reaper</i></h1>
</div>
{% endblock pagetitle %}

{% block content %}
<article class="page-content">
  <div class="intro">
		<p>{{ page.intro|richtext }}</p>
	</div>
	<div class="article-text">
		{% for block in page.content %}
			{% if block.block_type == "richtext" %}
				<p>{{ block.value|richtext }}</p>
			{% elif block.block_type == "blockquote" %}
				<div class="quote-block">
					<blockquote>{{ block.value }}</blockquote>
				</div>
			{% elif block.block_type == "blockquote_small" %}
				<div class="small-quote-block">
					<blockquote>{{ block.value }}</blockquote>
				</div>
			{% elif block.block_type == "table" %}
				<div class="table-block">{% include_block block %}</div>
			{% elif block.block_type == "dataframe" %}
				<div class="dataframe">{{ block.value }}</div>
			{% elif block.block_type == "html" %}
				<div class="contact-section">{{ block.value }}</div>
			{% else %}
				{% include_block block %}
			{% endif %}
		{% endfor %}
	</div>
</article>
{% endblock content %}
