{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block pagetitle %}
<div class="page-title">
  <h1>Tobias E. A. Reaper</h1>
</div>
{% endblock pagetitle %}

{% block content %}
<article class="page-content">
	{% if page.intro %}
		<div class="intro">
			<h2>{{ page.intro|richtext }}</h2>
		</div>
	{% endif %}
	<div class="article-text">
		{% for block in page.content %}
			{% if block.block_type == "richtext" %}
				<p>{{ block.value|richtext }}</p>
			{% elif block.block_type == "blockquote" %}
				<div class="quote-block">
					<blockquote>{{ block.value }}</blockquote>
				</div>
			{% elif block.block_type == "blockquote_small" %}
				<div class="small-quote-block">
					<blockquote>{{ block.value }}</blockquote>
				</div>
			{% elif block.block_type == "table" %}
				<div class="table-block">{% include_block block %}</div>
			{% elif block.block_type == "dataframe" %}
				<div class="dataframe">{{ block.value }}</div>
			{% elif block.block_type == "html" %}
				<div class="contact-section">{{ block.value }}</div>
			{% else %}
				{% include_block block %}
			{% endif %}
		{% endfor %}
	</div>
</article>
{% endblock content %}
