// ============
// Article page

.article-header {
  border-bottom: 2px solid $maroon;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.article-footer {
  display: flex;
  justify-content: center;
}