// ============
// Individual article page

.article-container {
  display: grid;
  grid-template-columns: 160px 640px 160px;
  justify-content: center;
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }

  .article-header {
    border-bottom: 2px solid $maroon;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .article-text {
    width: 85%;
    margin: 0 auto;
  }
  
  .article-footer {
    display: flex;
    justify-content: center;
  }
}

