@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Crimson Text', serif;
  background-color: #F6F6F6;
  color: #131313;
  font-size: 16px;
}

pre {
  font-family: 'Ligconsolata-Regular', 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: #7D3545;
}

ul {
  list-style: none;
}

h1 {
  margin: 1.5rem 0 0.5rem 0;
}

h2 {
  margin: 1rem 0 0.3rem 0;
}

h3 {
  margin: 0.8rem 0 0.2rem 0;
}

h4 {
  margin: 0.6rem 0 0.1rem 0;
}

.m-1 {
  margin: 1rem;
}

.py-1 {
  margin: 1rem 0;
}

.my-1 {
  margin-top: 1rem;
}

.my-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.my-1 {
  padding-top: 1rem;
}

.my-1 {
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.py-2 {
  margin: 2rem 0;
}

.my-2 {
  margin-top: 2rem;
}

.my-2 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.my-2 {
  padding-top: 2rem;
}

.my-2 {
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.py-3 {
  margin: 3rem 0;
}

.my-3 {
  margin-top: 3rem;
}

.my-3 {
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.my-3 {
  padding-top: 3rem;
}

.my-3 {
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.py-4 {
  margin: 4rem 0;
}

.my-4 {
  margin-top: 4rem;
}

.my-4 {
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.my-4 {
  padding-top: 4rem;
}

.my-4 {
  padding-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.py-5 {
  margin: 5rem 0;
}

.my-5 {
  margin-top: 5rem;
}

.my-5 {
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.my-5 {
  padding-top: 5rem;
}

.my-5 {
  padding-bottom: 5rem;
}

.bg-maroon {
  background-color: #7D3545;
  color: #F6F6F6;
}

.bg-light {
  background-color: #F6F6F6;
  color: #131313;
  border: #ccc 1px solid;
}

.bg-dark {
  background-color: #131313;
  color: #F6F6F6;
}

.bg-maroon-dark {
  background-color: #131313;
  color: #F6F6F6;
}

.btn {
  display: inline-block;
  background: #F6F6F6;
  color: #131313;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0.5rem;
}

.btn.btn-maroon {
  background-color: #7D3545;
  color: #F6F6F6;
}

.btn.btn-maroon:hover {
  background: #8f3d4f;
}

.btn.btn-dark {
  background-color: #131313;
  color: #F6F6F6;
}

.btn.btn-dark:hover {
  background: #202020;
}

.btn.btn-maroon-dark {
  background-color: #401B33;
  color: #F6F6F6;
}

.btn.btn-maroon-dark:hover {
  background: #522341;
}

.btn:hover {
  background: #797979;
}

main h1 a, main h2 a, main h3 a {
  color: #131313;
}

main h1 a:hover, main h2 a:hover, main h3 a:hover {
  color: #7D3545;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 160px 640px 160px auto;
      grid-template-columns: auto 160px 640px 160px auto;
  -ms-grid-rows: 60px 120px auto auto 60px;
      grid-template-rows: 60px 120px auto auto 60px;
      grid-template-areas: "header   header   header         header     header  " ".        .        page-title     .          .       " ".        .        blank          .          .       " ".        sidebar  page-content   .          .       " "footer   footer   footer         footer     footer  ";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: header;
  border-bottom: 1px solid #131313;
}

.header .header-content {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.header .header-content ul li {
  padding-left: 1rem;
}

.header .header-content a {
  color: #131313;
}

.header .header-content a:hover {
  color: #7D3545;
}

.header .header-content .logo {
  font-size: 2rem;
  margin-left: 0;
}

.header .header-content nav {
  border: none;
}

.page-title {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: page-title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  border-bottom: 2px solid #7D3545;
}

.sidebar {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: sidebar;
  margin-top: 1rem;
}

.page-content {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: page-content;
  max-width: 560px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.page-content .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content .post {
  margin-bottom: 1rem;
}

.page-content .categories, .page-content .tags {
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
  border-left: 2px solid #7D3545;
}

.page-content .categories li, .page-content .tags li {
  display: inline;
}

.page-content .article-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5rem;
}

.page-content .article-text p {
  margin-bottom: 0.5rem;
}

.page-content .article-text ul {
  list-style: disc outside none;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.page-content .article-text ul ul {
  list-style: circle outside none;
  margin-bottom: 0;
  margin-left: 1rem;
}

.page-content .article-text ol {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.page-content .article-text ol ol {
  margin-bottom: 0;
  margin-left: 1rem;
}

.page-content .article-text .quote-block {
  padding: 1rem;
  margin: 0.5rem 0;
  border-left: 2px solid #7D3545;
}

.page-content .article-text .quote-block blockquote {
  font-style: italic;
  font-size: 24px;
}

.page-content .article-text .small-quote-block {
  padding: 1rem;
  margin: 0.5rem 0;
  border-left: 2px solid #7D3545;
}

.page-content .article-text .small-quote-block blockquote {
  font-style: italic;
  font-size: 16px;
}

.page-content .article-text .table-block table, .page-content .article-text .dataframe table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.page-content .article-text .table-block table th, .page-content .article-text .table-block table td, .page-content .article-text .dataframe table th, .page-content .article-text .dataframe table td {
  border: 1px solid #131313;
  padding: 0.1rem;
}

.page-content .article-text .table-block table caption, .page-content .article-text .dataframe table caption {
  padding: 0.2rem;
  font-style: italic;
  caption-side: bottom;
  text-align: center;
}

.page-content .article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: footer;
  border-top: 1px solid #131313;
  margin-top: 2rem;
}

.footer .footer-content {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content ul.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-content ul.contact-icons li {
  padding: 1rem;
}

.footer .footer-content ul.contact-icons li svg {
  fill: #131313;
}

.footer .footer-content ul.contact-icons li svg:hover {
  fill: #7D3545;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.contact-section ul.contact-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.contact-section ul.contact-icons li {
  padding: 1rem;
}

.contact-section ul.contact-icons li svg {
  fill: #131313;
}

.contact-section ul.contact-icons li svg:hover {
  fill: #7D3545;
}

.code-block-figure {
  max-width: 560px;
  margin: 0.5rem 0;
  padding: 0;
}

.code-block-figure .snippet-caption {
  padding: 0.5rem 0.7rem;
  font-style: italic;
  text-align: center;
}

.code-block-figure .code-block-code code {
  margin-top: 0;
}

.code-block-figure .hljs-ln-code {
  padding-left: 0.7rem;
}

.code-block-figure .hljs-ln-numbers {
  padding-right: 0.5rem;
  border-right: 2px solid #7D3545;
}

.image-block {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-block span {
  width: 100%;
  height: auto;
  padding: 0;
}

.image-block span img {
  padding: 0;
  width: 100%;
  height: auto;
}

.image-block figcaption {
  margin-top: 0;
  font-style: italic;
}

.link-block {
  padding: 1rem;
  margin: 0.5rem 0;
  border-left: 2px solid #7D3545;
  font-size: 24px;
  font-style: italic;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 1rem;
  border-bottom: 2px solid #7D3545;
}

.title-block a h2 {
  font-size: 32px;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  color: #131313;
}

.title-block a h2:hover {
  color: #7D3545;
}

.section-header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #7D3545;
}

.section-header-block a h2 {
  font-size: 32px;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  color: #131313;
}

.section-header-block a h2:hover {
  color: #7D3545;
}

.featured-section-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured-section-block h2 {
  font-size: 32px;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

.featured-section-block a {
  color: #131313;
}

.featured-section-block a:hover {
  color: #7D3545;
}

.featured-section-block .featured-section-title {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 2px solid #7D3545;
}

.featured-section-block .featured-section {
  padding: 0 2rem;
}

.featured-section-block .featured-section .featured-childpage {
  margin-bottom: 1rem;
}

.featured-section-block .featured-section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-section-block .featured-section-footer a {
  color: #F6F6F6;
}

.featured-section-block .featured-section-footer a:hover {
  color: #F6F6F6;
}

.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 960px) {
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 60px auto auto auto 60px;
        grid-template-rows: 60px auto auto auto 60px;
        grid-template-areas: "header         " "page-title     " "subtitle       " "page-content   " "footer         ";
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    border-bottom: 1px solid #131313;
  }
  .header .header-content {
    padding: 0 0;
    max-width: 640px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header .header-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
  }
  .header .header-content ul li {
    padding-left: 1rem;
  }
  .header .header-content a {
    color: #131313;
  }
  .header .header-content a:hover {
    color: #7D3545;
  }
  .header .header-content .logo {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .header .header-content nav {
    border: none;
  }
  .page-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: page-title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem 1rem 1rem;
    margin: 0 auto;
    width: 640px;
    border-bottom: 2px solid #7D3545;
  }
  .page-content {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: page-content;
    width: 560px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
  }
  .page-content .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-content .post {
    margin-bottom: 1rem;
  }
  .page-content .categories, .page-content .tags {
    margin: 0.5rem auto;
    padding-left: 0.5rem;
    border-left: 2px solid #7D3545;
  }
  .page-content .categories li, .page-content .tags li {
    display: inline;
  }
  .page-content .article-text {
    width: 560px;
  }
  .sidebar {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: subtitle;
    padding: 1rem;
    margin: 0 auto;
    border-bottom: 2px solid #7D3545;
    width: 640px;
  }
  .sidebar .sidebar-content {
    width: 560px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "date   date" "topics tech";
    justify-items: center;
  }
  .sidebar .sidebar-content .publish-date {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: date;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .sidebar-content .publish-date time {
    font-size: 1.2rem;
  }
  .sidebar .sidebar-content .topics {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: topics;
  }
  .sidebar .sidebar-content .tech {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tech;
  }
  code {
    max-width: 560px;
  }
}

@media (max-width: 736px) {
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header         " "page-title     " "subtitle       " "page-content   " "footer         ";
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    border-bottom: 1px solid #131313;
  }
  .header .header-content {
    padding: 0.2rem 1rem;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
  }
  .header .header-content ul li {
    padding-left: 1rem;
  }
  .header .header-content a {
    color: #131313;
  }
  .header .header-content a:hover {
    color: #7D3545;
  }
  .header .header-content .logo {
    font-size: 1.5rem;
    margin-left: 0;
  }
  .header .header-content nav {
    border: none;
  }
  .page-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: page-title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem 1rem 1rem;
    width: 90%;
    border-bottom: 2px solid #7D3545;
  }
  .sidebar {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: subtitle;
    padding: 1rem;
    width: 90%;
    border-bottom: 2px solid #7D3545;
  }
  .sidebar .sidebar-content {
    margin: 0 auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "date   date" "topics tech";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .sidebar .sidebar-content .publish-date {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: date;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .sidebar-content .topics {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: topics;
  }
  .sidebar .sidebar-content .tech {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tech;
  }
  .page-content {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: page-content;
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-content .post {
    margin-bottom: 1rem;
  }
  .page-content .categories, .page-content .tags {
    margin: 0.5rem 0;
    border-left: 2px solid #7D3545;
    padding-left: 0.5rem;
  }
  .page-content .categories li, .page-content .tags li {
    display: inline;
  }
  .page-content .article-text {
    width: 100%;
    padding: 0.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content .article-text .image-block {
    width: 100%;
  }
  .page-content .article-text .image-block span {
    padding: 0;
    width: 100%;
  }
  .page-content .article-text .image-block span img {
    width: 100%;
    height: auto;
  }
  .page-content .article-text figure.code-block-figure {
    width: 100%;
  }
  .page-content .article-text figure.code-block-figure pre {
    width: 100%;
  }
  .page-content .article-text figure.code-block-figure pre code {
    width: 100%;
  }
}
