{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-projectpage{% endblock body_class %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
	<header>
		<h1>{{ page.title }}</h1>
		<p>{{ page.intro|richtext }}</p>
	</header>
{% endblock header %}

{% block content %}
<div>

	{% for post in page.get_children %}
		{% with post=post.specific %}
			<div id="{{ post.pk }}">
				<h2>{{ post.title }}</h2>
				<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">
					{{ post.date }}
				</time>
				<p>{{ post.intro|richtext }}</p>
				<a href="{% pageurl post %}">Read On</a>
			</div>
		{% endwith %}
	{% endfor %}

</div>
{% endblock content %}