{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock body_class %}

{% block title %}Blog{% endblock title %}

{% block content %}
	<!-- Main Container -->
	<div id="main">

		<!-- Display post / image previews -->
		{% for post in page.get_children %}
			{% with post=post.specific %}
			<section id="{{ post.pk }}" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>{{ post.title }}</h2>
							<time class="published" datetime="{{ post.date|date:'Y-m-d' }}">
								{{ post.date }}
							</time>
						</header>
						<p>{{ post.intro|richtext }}</p>
						<ul class="actions">
							<li><a href="{% pageurl post %}" class="button">Read On</a></li>
						</ul>
					</div>
					<a href="{% pageurl post %}">
						<span class="image">
							{% image post.header_image max-400x400 %}
						</span>
					</a>
				</div>
			</section>
			{% endwith %}
		{% endfor %}

	{% endblock content %}