{% load static wagtailcore_tags wagtailimages_tags %}

<section class="main internallinkblock">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>{{ self.title }}</h2>
      </header>
      <p>{{ self.description|richtext }}</p>
      <ul class="actions">
        <li><a href="{{ self.url }}" class="button">Read On</a></li>
      </ul>
    </div>
    <a href="{{ self.url }}">
      <span class="image">
        {% image self.image max-400x400 %}
      </span>
    </a>
  </div>
</section>
