{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
<header>
	<h1>{{ page.title }}</h1>
	<time class="published" datetime="{{ page.date_begin|date:'Y-m-d' }}">
		{{ page.date_begin }}
	</time>
</header>
{% endblock header %}

{% block content %}
<div>
	<span>{% image page.header_image original %}</span>
	<div>
		{% with categories=page.categories.all %}
			{% if categories %}
				<ul>
					{% for category in categories %}
						<li>{{ category.name }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<hr>
	</div>
	<div>
		{% for block in page.content %}
			{% if block.block_type == "paragraph" %}
				<p>{{ block.value|richtext }}</p>
			{% elif block.block_type == "image" %}
				<div>{% include_block block %}</div>
			{% else %}
				{% include_block block %}
			{% endif %}
		{% endfor %}
	</div>
	<div>
		<hr>
		<a class="" href="{{ page.get_parent.url }}">
			Back to List
		</a>
	</div>
</div>
{% endblock content %}